{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js" type="text/javascript" charset="utf-8"></script>

    <script>
        $(function() {
            $('[data-editor]').each(function () {
                var textarea = $(this);
                var mode = textarea.data('editor');
                var editDiv = $('<div>', {
                    position: 'absolute',
                    width: textarea.width(),
                    height: 200,
                    'class': textarea.attr('class')
                }).insertBefore(textarea);
                textarea.css('display', 'none');
                var editor = ace.edit(editDiv[0]);
                editor.$blockScrolling = Infinity;
                editor.renderer.setShowGutter(false);
                editor.setTheme("ace/theme/github");
                editor.setHighlightActiveLine(true);
                editor.setShowPrintMargin(true);
                editor.renderer.setShowGutter(true);
                editor.getSession().setValue(textarea.val());
                editor.getSession().setMode("ace/mode/" + mode);
                // copy back to textarea on form submit...
                textarea.closest('form').submit(function () {
                    textarea.val(editor.getSession().getValue());
                });
                var heightUpdateFunction = function() {
                    var newHeight = editor.getSession().getScreenLength() * editor.renderer.lineHeight + editor.renderer.scrollBar.getWidth();
                    if (newHeight > 100) {
                        editDiv.height(newHeight.toString() + "px");
                        editor.resize();
                    }
                };
                heightUpdateFunction();
                editor.getSession().on('change', function(){
                    textarea.val(editor.getSession().getValue());
                    heightUpdateFunction();
                });
            });
        });
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .translation-existing:after {color: green !important;content: "\f00c"; font-family: FontAwesome; font-size: 12px; margin-left: 2px;}
        .translation-missing:after {color: orange !important;content: "\f00d"; font-family: FontAwesome; font-size: 12px; margin-left: 2px;}
    </style>
{% endblock stylesheets %}
