{% extends frontend_layout %}

{% block title %}
    {{ page.metaTitle }}
{% endblock %}

{% block meta_description %}
    {{ page.metaDescription }}
{% endblock %}

{% block content %}
    {{ page.transformedContent | raw }}
{% endblock %}
